# SI Collection Stats - stats.json generation

(`ujson` reads/writes faster, but escapes text improperly, so use `json` for final output)

In [1]:
import datetime
import json
import re
import ujson

Key for variable naming:
`stats` is the JSON object that will be output at the end

We're looking for the following properties overall and per dept:
* Count (total)
* Departments
* Country
* On exhibit
* Taxonomy (K,P only)
* ~Type (general & specific)~ (TODO)
* ~Public Domain~ (all meta is CC0 if here, should get total from collections.si.edu or look at has online media && online media is CC0)
* ~Culture~ (TODO)

In [2]:
stats = {}
stats["total"] = 0
stats["depts"] = {}
#stats["type_general"] = {}
#stats["type_specific"] = {}
#stats["public_domain"] = 0
stats["on_exhibit"] = 0
stats["country"] = {}
stats["age"] = {}
stats["taxonomy"] = {}
stats["taxonomy"]["count"] = 0
stats["taxonomy"]["kingdom"] = {}

In [3]:
current_year = datetime.datetime.now().year

In [4]:
valid_countries = []
with open('countries.json','r') as cin: # scraped from topojson data
    valid_countries = json.load(cin)


# Mapping of the following to topojson country names:
# * Typos
# * Other country name formattings (e.g. common vs historical vs formal vs topojson names)
# * Abbreviations
# * Accented letters
# Assumes "Islands" has been replaced with "Is." (since that fixes many topojson nuance cases)
c_map = {
    "England": "United Kingdom",
    "Britain": "United Kingdom",
    "Great Britain": "United Kingdom",
    "United States": "United States of America",
    "US": "United States of America",
    "USA": "United States of America",
    "United Staes": "United States",
    'Antigua and Barbuda': 'Antigua and Barb.',
    'Bolivia (Plurinational State of)': 'Bolivia',
    'Bosnia and Herzegovina': 'Bosnia and Herz.',
    'Brunei Darussalam': 'Brunei',
    'Central African Republic': 'Central African Rep.',
    "Democratic People's Republic of Korea": 'North Korea',
    'Democratic Republic of the Congo': 'Dem. Rep. Congo',
    'Dominican Republic': 'Dominican Rep.',
    'Equatorial Guinea': 'Eq. Guinea',
    'Iran (Islamic Republic of)': 'Iran',
    "Lao People's Democratic Republic": 'Laos',
    'Micronesia (Federated States of)': 'Micronesia',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'Saint Kitts and Nevis': 'St. Kitts and Nevis',
    'Saint Vincent and the Grenadines': 'St. Vin. and Gren.',
    'Sao Tome and Principe': 'São Tomé and Principe',
    'South Sudan': 'S. Sudan',
    'Swaziland': 'eSwatini',
    'Syrian Arab Republic': 'Syria',
    'The former Yugoslav Republic of Macedonia': 'Macedonia',
    'United Republic of Tanzania': 'Tanzania',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Viet Nam': 'Vietnam',
    "People's Republic of China": "China",
    "Republic of the Congo": "Congo",
    "Burma": "Myanmar",
    "New Guinea": "Papua New Guinea",
    "Colonial America": "United States of America",
    'Micronesia, Federated States of': 'Micronesia',
    "Czech Republic": "Czechia",
    "Colonial America": "United States of America",
    "French Canada": "Canada",
    "U.S. Virgin Islands": "U.S. Virgin Is.",
    "Cape Verde": "Cabo Verde",
    "Curacao": "Curaçao",
    "French Guiana": "Guyana",
    "French Polynesia": "Fr. Polynesia",
    "Northern Mariana Is.": "N. Mariana Is.",
    "México": "Mexico",
    "British Virgin Islands": "British Virgin Is.",
    "Virgin Islands of the United States": "U.S. Virgin Is.",
    "Congo, Democratic Rep. Of": "Dem. Rep. Congo",
    "Burma (Myanmar)": "Myanmar",
    "Federated States of Micronesia": "Micronesia",
    "British Indian Ocean Territory": "Br. Indian Ocean Ter.",
    "Cote d'Ivoire": "Côte d'Ivoire",
    "Congo, Democratic Republic of": "Dem. Rep. Congo",
    "Western Samoa": "Samoa",
    "Belau": "Palau",
    "Belau [Palau]": "Palau",
    "Republic of Palau": "Palau",
    "St. Lucia": "Saint Lucia",
    "Ivory Coast": "Côte d'Ivoire",
    "United States Minor Outlying Is.": "U.S. Minor Outlying Is.",
    "Trinidad": "Trinidad and Tobago",
    "Tobago": "Trinidad and Tobago",
    "Republic of Ireland": "Ireland",
    "Virgin Is. of the United States": "U.S. Virgin Is.",
    "Northwestern Hawaiian Is.": "United States of America",
    "Kingdom of Tonga": "Tonga",
    "Republic of Fiji": "Fiji",
    "Pitcairn Island": "Pitcairn Is.",
    "West Germany": "Germany",
    "Congo (Kinshasa)": "Congo",
    "Main Hawaiian Is.": "United States of America",
    "Holland": "Netherlands",
    "Antigua": "Antigua and Barb.",
    "St. Helena": "Saint Helena",
    "Saint Helena Island": "Saint Helena",
    "Hawaiian Is.": "United States of America",
    "Myanmar [Burma]": "Myanmar",
    "Kazakstan": "Kazakhstan",
    "South Sandwich Is.": "S. Geo. and the Is.",
    "Vanuatu (Republic of)": "Vanuatu",
    "Tahiti": "Fr. Polynesia",
    "Zaire": "Dem. Rep. Congo",
    "Virgin Is. (U.S.)": "U.S. Virgin Is.",
    "Johnston Atoll": "U.S. Minor Outlying Is.",
    "Navassa Island": "U.S. Minor Outlying Is.",
    "Sicily": "Italy",
    "Etruria": "Italy",
}

# Sanitizes country names
# Checks valid topojson names
# Does mappings for many common cases (see c_map above)
# Checks case issues
# Returns "" if cannot sanitize
def sanitize_country(i):
    if i == "":
        return ""
    
    if i in valid_countries:
        return i
    
    # remove entries with uncertainty and multiple origins
    if "?" in i:
        return ""
    if "/" in i:
        return ""
    if " or " in i:
        return ""
    if " and " in i:
        return ""
    if "not certain" in i:
        return ""
    if "Unknown" in i:
        return ""
    if "Not Stated" in i:
        return ""
    if "Not Given" in i:
        return ""
    
    # copy to local var
    c = i
    
    # Remove regions
    c = re.sub(r"^now ","",c)
    c = re.sub(r"^[Tt]he ","",c)
    c = c.replace("Islands","Is.")
    
    c_mapi = {}
    for x in c_map:
        c_mapi[x.lower()] = c_map[x]
    for x in valid_countries:
        c_mapi[x.lower()] = x
        
    if c.lower() in c_mapi:
        return c_mapi[c.lower()]

    # cannot sanitize
    return ""

In [5]:
# Summarize
with open('data/all_data.ndjson') as infile:
    for line in infile:
        data = ujson.loads(line)
        
        # Get object properties
        unitCode = data['unitCode']
        dataSource = data['content']['descriptiveNonRepeating']['data_source']
        #type_general = data['type']
        #public_domain = False
        #if "online_media_rights" in data['content']['indexedStructured']:
        #    if data['content']['indexedStructured']['online_media_rights'] == 'No Restrictions':
        #        public_domain = True
        on_exhibit = False
        country = ""
        age = ""
        
        # Check b/c not all do -_-
        if 'indexedStructured' in data['content']:
            # Check if on exhibit
            if "onPhysicalExhibit" in data['content']['indexedStructured']:
                if data['content']['indexedStructured']['onPhysicalExhibit'] == "Yes":
                    on_exhibit = True
            # Check if we can get a country; prefer most accurate field (Matt Miller method)
            if 'geoLocation' in data['content']['indexedStructured']:
                for x in data['content']['indexedStructured']['geoLocation']:
                    if 'L2' in x:
                        if isinstance(x['L2'], str):
                            country = sanitize_country(x['L2'])
                        else:
                            country = sanitize_country(x['L2']['content'])
            # Check if we can get an age (most accurate level of detail is decade)
            if "date" in data['content']['indexedStructured']:
                for x in data['content']['indexedStructured']['date']:
                    age_tmp = x.replace("BCE ", "-").replace("s", "")
                    if int(age_tmp) <= current_year: # sanity check for typos
                        age = age_tmp
            # Check for taxonomy data; this is on its own b/c it's across several units and so I'm tracking it as a special case
            if "tax_kingdom" in data['content']['indexedStructured']:
                # Kingdom; assume only one value in list
                kingdom = data['content']['indexedStructured']["tax_kingdom"][0]
                
                stats["taxonomy"]["count"] += 1
                
                if not kingdom in stats["taxonomy"]["kingdom"]:
                    stats["taxonomy"]["kingdom"][kingdom] = {}
                    stats["taxonomy"]["kingdom"][kingdom]["count"] = 0
                    stats["taxonomy"]["kingdom"][kingdom]["phylum"] = {}
                
                stats["taxonomy"]["kingdom"][kingdom]["count"] += 1
                
                # Phylum; assume only one value in list
                if "tax_phylum" in data['content']['indexedStructured']:
                    phylum = data['content']['indexedStructured']["tax_phylum"][0]

                    if not phylum in stats["taxonomy"]["kingdom"][kingdom]["phylum"]:
                        stats["taxonomy"]["kingdom"][kingdom]["phylum"][phylum] = {}
                        stats["taxonomy"]["kingdom"][kingdom]["phylum"][phylum]["count"] = 0

                    stats["taxonomy"]["kingdom"][kingdom]["phylum"][phylum]["count"] += 1
                else:
                    if not "Unknown" in stats["taxonomy"]["kingdom"][kingdom]["phylum"]:
                        stats["taxonomy"]["kingdom"][kingdom]["phylum"]["Unknown"] = {}
                        stats["taxonomy"]["kingdom"][kingdom]["phylum"]["Unknown"]["count"] = 0

                    stats["taxonomy"]["kingdom"][kingdom]["phylum"]["Unknown"]["count"] += 1
        
        # If department does not exist, create it
        if not dataSource in stats["depts"]:
            stats["depts"][dataSource] = {}
            stats["depts"][dataSource]["count"] = 0
        #    stats["depts"][dataSource]["public_domain"] = 0
        #    stats["depts"][dataSource]["type_general"] = {}
            #stats["depts"][dataSource]["type_specific"] = {}
            stats["depts"][dataSource]["on_exhibit"] = 0
            stats["depts"][dataSource]["country"] = {}
            stats["depts"][dataSource]["age"] = {}
            stats["depts"][dataSource]["unit_code"] = unitCode
        
        # If general type does not exist, create it
        #if not type_general in stats["type_general"]:
        #    stats["type_general"][type_general] = {}
        #    stats["type_general"][type_general]["count"] = 0
        #    stats["type_general"][type_general]["depts"] = {}
        #    stats["type_general"][type_general]["public_domain"] = 0
        
        # If specific type does not exist, create it
        # ...
        
        # Create cross-references one level deep
        #if not type_general in stats["depts"][dataSource]["type_general"]:
        #    stats["depts"][dataSource]["type_general"][type_general] = 0
        #if not dataSource in stats["type_general"][type_general]["depts"]:
        #    stats["type_general"][type_general]["depts"][dataSource] = 0
        
        # Add stats for this object
        stats["total"] += 1
        stats["depts"][dataSource]["count"] += 1
        #stats["depts"][dataSource]["type_general"][type_general] += 1
        #stats["type_general"][type_general]["count"] += 1
        #stats["type_general"][type_general]["depts"][dataSource] += 1
        #if public_domain:
        #    stats["public_domain"] += 1
        #    stats["depts"][dataSource]["public_domain"] += 1
        #    stats["type_general"][type_general]["public_domain"] += 1
        if on_exhibit:
            stats["on_exhibit"] += 1
            stats["depts"][dataSource]["on_exhibit"] += 1
        if country != "":
            if not country in stats["country"]:
                stats["country"][country] = 0
            if not country in stats["depts"][dataSource]["country"]:
                stats["depts"][dataSource]["country"][country] = 0
            stats["country"][country] += 1
            stats["depts"][dataSource]["country"][country] += 1
        if age != "":
            if not age in stats["age"]:
                stats["age"][age] = 0
            if not age in stats["depts"][dataSource]["age"]:
                stats["depts"][dataSource]["age"][age] = 0
            stats["age"][age] += 1
            stats["depts"][dataSource]["age"][age] += 1

print("Done")

Done

In [8]:
stats

{'total': 11355839,
 'depts': {'National Anthropological Archives': {'count': 15,
   'on_exhibit': 0,
   'country': {'United States of America': 2,
    'Italy': 1,
    'Pakistan': 1,
    'Slovakia': 1,
    'Venezuela': 1},
   'age': {'1870': 1, '1880': 5, '1890': 3, '1950': 1, '1970': 5},
   'unit_code': 'NAA'},
  'Smithsonian Gardens': {'count': 252,
   'on_exhibit': 0,
   'country': {'United Kingdom': 136,
    'France': 33,
    'China': 5,
    'Italy': 4,
    'Germany': 3,
    'United States of America': 5,
    'India': 3},
   'age': {'1830': 245, '1860': 1, '1910': 2, '1980': 1, '1870': 1},
   'unit_code': 'HAC'},
  'Human Studies Film Archives': {'count': 78,
   'on_exhibit': 0,
   'country': {'United States of America': 54, 'Canada': 22, 'El Salvador': 1},
   'age': {'1970': 43, '1960': 26, '1980': 3, '1950': 3, '1940': 1, '1930': 1},
   'unit_code': 'HSFA'},
  'Smithsonian Libraries': {'count': 15218,
   'on_exhibit': 0,
   'country': {'Norway': 7,
    'Italy': 26,
    'Panama': 33,
    'Brazil': 31,
    'Germany': 18,
    'United States of America': 508,
    'Israel': 3,
    'Papua New Guinea': 3,
    'Egypt': 28,
    'Algeria': 3,
    'Denmark': 10,
    'Iran': 7,
    'Belgium': 11,
    'France': 50,
    'Japan': 36,
    'Thailand': 5,
    'South Africa': 92,
    'China': 31,
    'Mexico': 38,
    'Liberia': 17,
    'Sri Lanka': 3,
    'United Kingdom': 59,
    'Guinea': 6,
    'India': 20,
    'Rwanda': 3,
    'Ghana': 14,
    'Ethiopia': 23,
    'New Zealand': 3,
    'Canada': 29,
    'Australia': 9,
    'Guyana': 11,
    'Hungary': 3,
    'Venezuela': 7,
    'Cameroon': 10,
    'Kenya': 6,
    'Colombia': 6,
    'Ecuador': 5,
    'Netherlands': 2,
    'Madagascar': 21,
    'Mali': 12,
    'Gabon': 7,
    'Paraguay': 4,
    'Indonesia': 6,
    'Sierra Leone': 9,
    'Greece': 2,
    'Namibia': 3,
    'Nigeria': 29,
    'Austria': 6,
    'Ireland': 3,
    'Senegal': 12,
    'Lesotho': 3,
    'Jordan': 3,
    'Uganda': 26,
    'Peru': 12,
    'Sudan': 17,
    'Turkey': 4,
    'Haiti': 5,
    'Zambia': 8,
    'Dem. Rep. Congo': 24,
    'Bhutan': 1,
    'Jamaica': 4,
    'Angola': 10,
    'Congo': 6,
    'Benin': 17,
    'Russia': 10,
    'Spain': 13,
    'Eq. Guinea': 2,
    'Tanzania': 10,
    'Portugal': 7,
    'North Korea': 2,
    'Togo': 2,
    'Chile': 11,
    'Guinea-Bissau': 2,
    'Guatemala': 1,
    'Iraq': 3,
    'Barbados': 2,
    'El Salvador': 7,
    'Cuba': 11,
    'Argentina': 8,
    'Czechia': 1,
    'Malawi': 3,
    'Comoros': 1,
    'Iceland': 1,
    'Bahamas': 2,
    'Morocco': 3,
    'Zimbabwe': 11,
    'Niger': 3,
    'Nicaragua': 4,
    'Afghanistan': 2,
    'Palau': 1,
    'Syria': 4,
    'Fiji': 1,
    'Tajikistan': 1,
    'Gambia': 2,
    'Lebanon': 1,
    'Switzerland': 2,
    'Poland': 1,
    'Mongolia': 1,
    'Libya': 1,
    'Malaysia': 2,
    'Vanuatu': 1,
    'Tunisia': 2,
    'Georgia': 1,
    'Botswana': 2,
    'South Korea': 1,
    'Trinidad and Tobago': 2,
    'Pakistan': 1,
    'Croatia': 1,
    'Tuvalu': 1,
    'Luxembourg': 1,
    'Mauritius': 1,
    'Sweden': 4,
    'Grenada': 1,
    'Philippines': 1,
    'Finland': 3,
    'Cyprus': 1,
    'Dominican Rep.': 1,
    'Mauritania': 1,
    'Myanmar': 1},
   'age': {'2010': 831,
    '1880': 1242,
    '1910': 1805,
    '1900': 1860,
    '1860': 767,
    '1920': 545,
    '1840': 581,
    '1850': 680,
    '1890': 1721,
    '1870': 1416,
    '1820': 308,
    '1810': 152,
    '1760': 173,
    '1960': 117,
    '1980': 177,
    '1830': 399,
    '2000': 287,
    '1970': 426,
    '1540': 13,
    '1800': 189,
    '1990': 234,
    '1940': 40,
    '1930': 59,
    '1790': 182,
    '1730': 30,
    '1400': 21,
    '1100': 1,
    '2020': 60,
    '1670': 35,
    '1780': 144,
    '1550': 29,
    '1530': 6,
    '1580': 10,
    '1620': 12,
    '1660': 68,
    '1510': 9,
    '1740': 47,
    '1750': 60,
    '1710': 20,
    '1950': 98,
    '1680': 21,
    '1770': 107,
    '1700': 30,
    '1720': 18,
    '1690': 27,
    '1600': 11,
    '1650': 12,
    '1640': 7,
    '1000': 3,
    '1500': 9,
    '1570': 8,
    '1630': 13,
    '1560': 10,
    '1590': 12,
    '1610': 6,
    '1520': 3,
    '1200': 2,
    '400': 1},
   'unit_code': 'SIL'},
  'Smithsonian Institution Archives': {'count': 29416,
   'on_exhibit': 0,
   'country': {'United States of America': 1333,
    'Tanzania': 22,
    'Panama': 5180,
    'China': 269,
    'El Salvador': 33,
    'Canada': 87,
    'Chile': 50,
    'Mexico': 23,
    'Pakistan': 3,
    'Colombia': 6,
    'United Kingdom': 17,
    'Peru': 9,
    'Japan': 47,
    'Togo': 1,
    'North Korea': 9,
    'Malaysia': 4,
    'Grenada': 1,
    'Spain': 6,
    'Ecuador': 39,
    'Hungary': 2,
    'Germany': 7,
    'Belgium': 1,
    'Russia': 16,
    'Costa Rica': 2,
    'Angola': 1,
    'Tunisia': 3,
    'Saudi Arabia': 3,
    'Syria': 4,
    'Haiti': 5,
    'New Zealand': 8,
    'Denmark': 4,
    'France': 9,
    'Guyana': 5,
    'Belize': 8,
    'Slovakia': 1,
    'Guatemala': 5,
    'Kiribati': 3,
    'Australia': 5,
    'Cameroon': 2,
    'Marshall Is.': 8,
    'Cyprus': 1,
    'Ireland': 1,
    'Venezuela': 4,
    'Nepal': 4,
    'Cuba': 5,
    'Indonesia': 3,
    'Gabon': 1,
    'Congo': 1,
    'India': 3,
    'Greece': 2,
    'Thailand': 1,
    'Iran': 1,
    'Argentina': 2,
    'Egypt': 6,
    'South Africa': 1,
    'Paraguay': 1,
    'Vietnam': 1,
    'Mongolia': 1,
    'Poland': 1,
    'Madagascar': 3,
    'Brazil': 7,
    'Yemen': 3,
    'Palau': 1,
    'Nicaragua': 3,
    'Monaco': 1,
    'Taiwan': 1,
    'Ghana': 1,
    'Sweden': 4,
    'Austria': 1,
    'Dominica': 2,
    'Philippines': 3,
    'Jamaica': 2,
    'Seychelles': 6,
    'Kenya': 1,
    'Armenia': 1,
    'Honduras': 2,
    'Israel': 1,
    'Dominican Rep.': 3,
    'Bahamas': 2,
    'Sri Lanka': 2,
    'Myanmar': 1,
    'Turkey': 2,
    'Italy': 1,
    'Uganda': 1,
    'Czechia': 1,
    'Netherlands': 2,
    'Senegal': 1,
    'Bolivia': 1,
    'Dem. Rep. Congo': 1},
   'age': {'1890': 579,
    '1870': 352,
    '1910': 1035,
    '1900': 528,
    '1970': 7402,
    '1990': 2578,
    '1980': 5352,
    '1930': 544,
    '2010': 911,
    '1960': 1912,
    '1920': 576,
    '2000': 709,
    '1950': 835,
    '1880': 1183,
    '1840': 26,
    '1940': 225,
    '1860': 68,
    '1820': 110,
    '1830': 23,
    '1300': 1,
    '1850': 16,
    '1790': 1,
    '1810': 19,
    '1760': 1,
    '1800': 1,
    '1660': 2,
    '-0': 1,
    '1780': 3,
    '1000': 1},
   'unit_code': 'SIA'},
  'Cooper Hewitt, Smithsonian Design Museum': {'count': 40196,
   'on_exhibit': 0,
   'country': {'France': 8781,
    'United States of America': 9998,
    'Italy': 6116,
    'Spain': 844,
    'India': 331,
    'Japan': 669,
    'United Kingdom': 2712,
    'China': 421,
    'Germany': 1564,
    'Netherlands': 2450,
    'Mexico': 174,
    'Denmark': 27,
    'Canada': 64,
    'Colombia': 79,
    'Ireland': 118,
    'Hungary': 5,
    'Indonesia': 65,
    'Belgium': 486,
    'Turkey': 87,
    'Austria': 218,
    'Portugal': 35,
    'Egypt': 279,
    'Peru': 157,
    'Sweden': 42,
    'Iran': 106,
    'Switzerland': 162,
    'Jamaica': 69,
    'Ecuador': 78,
    'Russia': 100,
    'Philippines': 40,
    'Suriname': 1,
    'Syria': 20,
    'Dem. Rep. Congo': 11,
    'Greece': 95,
    'South Africa': 5,
    'Armenia': 3,
    'Morocco': 22,
    'Haiti': 19,
    'Iraq': 3,
    'Algeria': 3,
    'Israel': 8,
    'Samoa': 2,
    'Panama': 3,
    'Costa Rica': 2,
    'Czechia': 1,
    'Cuba': 4,
    'Afghanistan': 4,
    'Norway': 6,
    'Bolivia': 6,
    'Jordan': 7,
    'Malta': 2,
    'Romania': 6,
    'Palestine': 3,
    'Guyana': 1,
    'Yemen': 1,
    'Mali': 1,
    'Sudan': 1,
    'Fiji': 1,
    'Poland': 6,
    'Albania': 2,
    'Paraguay': 3,
    'Puerto Rico': 1,
    'Estonia': 1,
    'Thailand': 2,
    'Macedonia': 1,
    'Lebanon': 6,
    'Croatia': 1,
    'United States': 1,
    'Slovakia': 1,
    'Myanmar': 3,
    'Saudi Arabia': 1,
    'Tunisia': 1,
    'Argentina': 1,
    'Finland': 1,
    'Ghana': 1,
    'Bahamas': 1,
    'Guernsey': 1,
    'Turkmenistan': 1,
    'Uzbekistan': 1},
   'age': {'1820': 1792,
    '1700': 1445,
    '1860': 1871,
    '1600': 1739,
    '1900': 4842,
    '1770': 1499,
    '1890': 2272,
    '1840': 922,
    '1870': 3733,
    '1620': 292,
    '1670': 415,
    '1810': 961,
    '1650': 195,
    '1750': 1751,
    '1910': 367,
    '1850': 2136,
    '1790': 1840,
    '1690': 450,
    '1880': 1574,
    '1570': 313,
    '1780': 923,
    '1730': 1966,
    '1830': 1088,
    '1000': 68,
    '1920': 92,
    '1660': 307,
    '1500': 282,
    '1720': 477,
    '1640': 174,
    '1760': 1233,
    '1740': 695,
    '1400': 229,
    '1630': 178,
    '1800': 366,
    '1680': 195,
    '1300': 216,
    '1580': 123,
    '1200': 90,
    '1540': 76,
    '1530': 45,
    '1560': 117,
    '1710': 75,
    '1550': 113,
    '1510': 87,
    '1590': 82,
    '1520': 69,
    '1610': 48,
    '1100': 19,
    '1930': 2,
    '1990': 1},
   'unit_code': 'CHNDM'},
  'National Portrait Gallery': {'count': 8369,
   'on_exhibit': 0,
   'country': {'United States of America': 4419,
    'United Kingdom': 59,
    'France': 24,
    'Chile': 5,
    'Belize': 1,
    'Netherlands': 1,
    'Nicaragua': 1},
   'age': {'1900': 182,
    '1820': 96,
    '1860': 706,
    '1850': 289,
    '1810': 103,
    '1750': 7,
    '1830': 162,
    '1880': 105,
    '1780': 108,
    '1890': 239,
    '1870': 5369,
    '1840': 310,
    '1920': 54,
    '1910': 138,
    '1770': 30,
    '1790': 164,
    '1710': 9,
    '1970': 4,
    '1800': 84,
    '1760': 13,
    '1930': 54,
    '1590': 3,
    '1720': 5,
    '1960': 6,
    '1740': 8,
    '1670': 1,
    '1650': 1,
    '1610': 2,
    '1580': 1,
    '1950': 4,
    '1700': 1,
    '1730': 1,
    '1660': 1,
    '1940': 1},
   'unit_code': 'NPG'},
  'NMNH - Vertebrate Zoology - Fishes Division': {'count': 473637,
   'on_exhibit': 0,
   'country': {'Vanuatu': 4332,
    'Bermuda': 15488,
    'Chile': 1111,
    'Brazil': 11477,
    'Peru': 5558,
    'United States of America': 116849,
    'Liberia': 868,
    'Botswana': 76,
    'Fr. Polynesia': 18527,
    'Curaçao': 5667,
    'Dominica': 1415,
    'Kiribati': 2460,
    'Belize': 10357,
    'El Salvador': 1634,
    'Panama': 11516,
    'Indonesia': 12480,
    'Taiwan': 4466,
    'Philippines': 51295,
    'Japan': 6913,
    'Russia': 1099,
    'Papua New Guinea': 7625,
    'Malaysia': 2444,
    'U.S. Minor Outlying Is.': 1098,
    'Italy': 654,
    'Nicaragua': 1273,
    'Somalia': 1008,
    'China': 3030,
    'Seychelles': 2566,
    'Colombia': 3816,
    'Saudi Arabia': 774,
    'American Samoa': 1261,
    'Guyana': 3858,
    'Myanmar': 2068,
    'Australia': 6821,
    'Suriname': 3536,
    'Fiji': 5045,
    'Mexico': 6077,
    'Palau': 1864,
    'Br. Indian Ocean Ter.': 1198,
    'Marshall Is.': 5617,
    'Canada': 2553,
    'Tanzania': 319,
    'India': 1963,
    'Tonga': 4604,
    'Barbados': 254,
    'Micronesia': 2454,
    'Solomon Is.': 5878,
    'Costa Rica': 1528,
    'New Zealand': 688,
    'Thailand': 2563,
    'Guatemala': 1255,
    'Cuba': 3045,
    'Bolivia': 981,
    'Haiti': 638,
    'Mauritius': 3777,
    'Morocco': 206,
    'Lebanon': 1125,
    'Guam': 1522,
    'Sri Lanka': 2727,
    'Gabon': 242,
    'Ghana': 1034,
    'Egypt': 2842,
    'Kenya': 581,
    'Ecuador': 1018,
    'Anguilla': 100,
    'Cabo Verde': 767,
    "Côte d'Ivoire": 119,
    'Bahamas': 3696,
    'Venezuela': 5545,
    'South Africa': 848,
    'Sudan': 418,
    'Nepal': 36,
    'Mongolia': 64,
    'Cameroon': 935,
    'Trinidad and Tobago': 2925,
    'Madagascar': 1209,
    'Paraguay': 1019,
    'Israel': 470,
    'Norway': 280,
    'Iran': 226,
    'Samoa': 948,
    'Antarctica': 722,
    'Germany': 57,
    'Argentina': 616,
    'Honduras': 642,
    'Jamaica': 631,
    'Saint Lucia': 154,
    'Bahrain': 450,
    'Nigeria': 641,
    'Greece': 61,
    'Uruguay': 211,
    'Brunei': 785,
    'Vietnam': 185,
    'Denmark': 46,
    'Guinea': 265,
    'Mozambique': 408,
    'New Caledonia': 2012,
    'Dominican Rep.': 284,
    'N. Mariana Is.': 384,
    'Malawi': 850,
    'Zambia': 97,
    'Togo': 499,
    'United Kingdom': 209,
    'Sierra Leone': 339,
    'Iraq': 3,
    'South Korea': 256,
    'Oman': 470,
    'Singapore': 250,
    'France': 145,
    'Djibouti': 48,
    'Saint Helena': 95,
    'Eq. Guinea': 323,
    'Niger': 52,
    'Switzerland': 78,
    'Greenland': 203,
    'Laos': 62,
    'Romania': 306,
    'Pakistan': 420,
    'Congo': 74,
    'U.S. Virgin Is.': 262,
    'Hong Kong': 83,
    'Eritrea': 878,
    'Turkey': 96,
    'Maldives': 319,
    'Dem. Rep. Congo': 286,
    'Guinea-Bissau': 68,
    'Tunisia': 338,
    'Angola': 233,
    'Cambodia': 24,
    'Portugal': 68,
    'Kuwait': 141,
    'Comoros': 263,
    'Mali': 68,
    'Bangladesh': 85,
    'Pitcairn Is.': 105,
    'Senegal': 112,
    'Algeria': 33,
    'Yemen': 94,
    'Cook Is.': 149,
    'Aruba': 41,
    'Central African Rep.': 49,
    'Belgium': 17,
    'Kazakhstan': 9,
    'Cayman Is.': 47,
    'Ukraine': 30,
    'Norfolk Island': 34,
    'Spain': 61,
    'Monaco': 1,
    'United Arab Emirates': 25,
    'Grenada': 52,
    'Iceland': 11,
    'Uganda': 11,
    'Libya': 4,
    'Sweden': 64,
    'Gibraltar': 2,
    'Croatia': 10,
    'Tuvalu': 30,
    'Montenegro': 29,
    'Austria': 2,
    'Namibia': 27,
    'Bulgaria': 13,
    'Gambia': 32,
    'Ireland': 9,
    'Estonia': 1,
    'Mauritania': 30,
    'Zimbabwe': 3,
    'Falkland Is.': 51,
    'Niue': 13,
    'Montserrat': 5,
    'Benin': 32,
    'Azerbaijan': 2,
    'Jordan': 3,
    'Afghanistan': 14,
    'Netherlands': 3,
    'Syria': 12,
    'Ethiopia': 9,
    'Burundi': 1,
    'Poland': 1,
    'Armenia': 2,
    'Tajikistan': 2,
    'Puerto Rico': 1,
    'Nauru': 1,
    'Burkina Faso': 3,
    'Chad': 1,
    'Kyrgyzstan': 1,
    'North Korea': 1,
    'Cyprus': 1},
   'age': {'1990': 35540,
    '1970': 56477,
    '1980': 28509,
    '1920': 9064,
    '1890': 8814,
    '1910': 7882,
    '2010': 41969,
    '1960': 57880,
    '2000': 37405,
    '1840': 293,
    '1900': 41248,
    '1930': 14376,
    '1940': 18526,
    '1880': 12865,
    '1950': 24172,
    '1870': 2958,
    '1850': 754,
    '1860': 210,
    '1830': 26,
    '1810': 4,
    '1800': 2,
    '1820': 1},
   'unit_code': 'NMNHFISHES'},
  'National Air and Space Museum': {'count': 141,
   'on_exhibit': 0,
   'country': {'United States of America': 107,
    'Germany': 12,
    'United Kingdom': 8,
    'France': 6,
    'Japan': 3,
    'Netherlands': 1,
    'Italy': 1},
   'age': {'1700': 2,
    '1940': 10,
    '1970': 1,
    '1980': 2,
    '1910': 21,
    '1900': 5,
    '1950': 5,
    '2010': 1,
    '1960': 2,
    '1930': 9,
    '1890': 1,
    '1920': 2,
    '2000': 1},
   'unit_code': 'NASM'},
  'Freer Gallery of Art and Arthur M. Sackler Gallery': {'count': 3133,
   'on_exhibit': 0,
   'country': {'United States of America': 705,
    'India': 175,
    'Egypt': 594,
    'Italy': 75,
    'China': 999,
    'Iran': 75,
    'Syria': 253,
    'Thailand': 32,
    'Turkey': 5,
    'Sri Lanka': 1,
    'United Kingdom': 3,
    'Indonesia': 2,
    'Nepal': 2,
    'Japan': 4,
    'Uzbekistan': 1,
    'Pakistan': 1,
    'France': 2,
    'Iraq': 2},
   'age': {'1850': 228,
    '1870': 297,
    '1650': 10,
    '-0': 441,
    '500': 127,
    '-1000': 553,
    '300': 112,
    '1300': 184,
    '1860': 91,
    '200': 245,
    '1200': 100,
    '1880': 102,
    '400': 128,
    '1730': 17,
    '1640': 4,
    '1400': 29,
    '1750': 18,
    '-2000': 3,
    '1660': 30,
    '1000': 20,
    '1600': 29,
    '1840': 3,
    '100': 31,
    '-3000': 118,
    '1740': 7,
    '1760': 29,
    '1570': 5,
    '1900': 2,
    '1790': 15,
    '1690': 5,
    '1700': 41,
    '1720': 8,
    '700': 24,
    '1670': 9,
    '600': 10,
    '1580': 2,
    '1620': 11,
    '1780': 4,
    '1500': 5,
    '1550': 1,
    '1100': 11,
    '1590': 1,
    '1710': 1,
    '1680': 8,
    '1630': 3,
    '1770': 2,
    '800': 2,
    '1820': 1,
    '1910': 1,
    '900': 1,
    '1810': 1},
   'unit_code': 'FSG'},
  'Freer Gallery of Art and Arthur M. Sackler Gallery Archives': {'count': 29,
   'on_exhibit': 0,
   'country': {'China': 3,
    'India': 2,
    'United States of America': 3,
    'Egypt': 2,
    'Iran': 3,
    'Pakistan': 1,
    'North Korea': 1,
    'Iraq': 1,
    'Lebanon': 1,
    'Japan': 1,
    'Sri Lanka': 1,
    'United Kingdom': 3,
    'France': 1,
    'Indonesia': 1,
    'Cambodia': 1},
   'age': {'1910': 4,
    '1870': 10,
    '1900': 6,
    '1930': 1,
    '1880': 2,
    '1890': 2,
    '1920': 1,
    '1980': 1},
   'unit_code': 'FSA'},
  'NMNH - Botany Dept.': {'count': 3675609,
   'on_exhibit': 0,
   'country': {'Bahamas': 10912,
    'Norway': 11513,
    'Peru': 98260,
    'Belize': 25573,
    'Mexico': 271045,
    'United States of America': 976517,
    'Ecuador': 73332,
    'Panama': 56546,
    'Colombia': 133846,
    'Malaysia': 20348,
    'Puerto Rico': 48252,
    'China': 87717,
    'Dominica': 11168,
    'Guyana': 105734,
    'Indonesia': 27256,
    'Philippines': 67677,
    'Suriname': 14415,
    'Venezuela': 101983,
    'Dominican Rep.': 34771,
    'Japan': 32379,
    'Germany': 11593,
    'New Zealand': 12077,
    'Denmark': 1402,
    'Canada': 70849,
    'Sri Lanka': 29114,
    'Cook Is.': 1311,
    'Papua New Guinea': 25772,
    'Marshall Is.': 3541,
    'Fiji': 12351,
    'El Salvador': 9761,
    'Turkey': 5280,
    'Brazil': 256201,
    'Czechia': 3605,
    'Paraguay': 12370,
    'Madagascar': 12260,
    'Guatemala': 41535,
    'Argentina': 37477,
    'Senegal': 234,
    'Thailand': 8413,
    'Bolivia': 47177,
    'Eritrea': 1565,
    'Kiribati': 1550,
    'South Africa': 25993,
    'Honduras': 19700,
    'Nicaragua': 8866,
    'Guam': 4900,
    'India': 27975,
    'Micronesia': 9487,
    'United Kingdom': 10186,
    'Taiwan': 5818,
    'Costa Rica': 56779,
    'Uruguay': 4098,
    'Nepal': 4473,
    'Kenya': 7599,
    'Uganda': 3700,
    'Pakistan': 1896,
    'Mongolia': 821,
    'Australia': 37403,
    'Greece': 3848,
    'Namibia': 5321,
    'Eq. Guinea': 1127,
    'Chile': 17618,
    'Switzerland': 7145,
    'Iran': 5924,
    'Algeria': 2668,
    'Russia': 10269,
    'eSwatini': 595,
    'Spain': 8985,
    'France': 19883,
    'Cyprus': 374,
    'Afghanistan': 2151,
    'Burundi': 1045,
    'Malawi': 2690,
    'New Caledonia': 6809,
    'Angola': 1879,
    'Cambodia': 472,
    'Austria': 5822,
    'Italy': 10014,
    'Fr. Polynesia': 21001,
    'Morocco': 2709,
    'Cameroon': 4598,
    'Tanzania': 6524,
    'Samoa': 3343,
    'Vietnam': 6451,
    'Palau': 5456,
    'Solomon Is.': 2287,
    'Portugal': 3766,
    'Greenland': 4361,
    'Romania': 2173,
    'Trinidad and Tobago': 9574,
    'Gabon': 1923,
    'American Samoa': 1393,
    'Seychelles': 3825,
    'N. Mariana Is.': 3509,
    'Singapore': 1661,
    'Kazakhstan': 1310,
    'Uzbekistan': 526,
    'Guinea-Bissau': 33,
    'Ghana': 1493,
    'Jamaica': 23948,
    'Dem. Rep. Congo': 4809,
    'North Korea': 961,
    'Cuba': 45416,
    'Israel': 1284,
    'South Korea': 1626,
    'Ethiopia': 3655,
    'Poland': 2964,
    'Tonga': 2273,
    'Iraq': 2786,
    'Egypt': 1192,
    'Georgia': 532,
    'Guinea': 186,
    'Mauritius': 874,
    'Sweden': 9830,
    'Finland': 2021,
    'Netherlands': 1989,
    'Vanuatu': 870,
    'Sierra Leone': 440,
    'Myanmar': 6096,
    'Grenada': 2088,
    'St. Pierre and Miquelon': 13,
    'Nigeria': 823,
    'Saint Lucia': 1423,
    'Haiti': 21611,
    'Bermuda': 3510,
    'Rwanda': 464,
    'Zambia': 617,
    'Liberia': 3581,
    'Iceland': 4958,
    'Bhutan': 384,
    'Bangladesh': 772,
    'U.S. Virgin Is.': 8301,
    'Zimbabwe': 1026,
    'Lebanon': 557,
    'Croatia': 1640,
    'Tunisia': 526,
    'Belgium': 843,
    'Kyrgyzstan': 468,
    'Antarctica': 1948,
    'Syria': 1235,
    'Hungary': 3386,
    'Jordan': 464,
    'Barbados': 1638,
    'Curaçao': 2421,
    "Côte d'Ivoire": 1209,
    'Central African Rep.': 345,
    'Ireland': 2287,
    'Brunei': 224,
    'Slovakia': 135,
    'Cayman Is.': 322,
    'Lesotho': 461,

In [7]:
# Write stats to file
with open('docs/stats.json','w') as out:
    out.write(json.dumps(stats))
    #out.write(json.dumps(stats, indent=4)) # Pretty print