# SI Collection Stats - stats.json generation

(`ujson` reads/writes faster, but escapes text improperly, so use `json` for final output)

In [1]:
import datetime
import json
import re
import ujson

Key for variable naming:
`stats` is the JSON object that will be output at the end

We're looking for the following properties overall and per dept:
* Count (total)
* Departments
* Country
* On exhibit
* Taxonomy (K,P only)
* ~Type (general & specific)~ (TODO)
* ~Public Domain~ (all meta is CC0 if here, should get total from collections.si.edu or look at has online media && online media is CC0)
* ~Culture~ (TODO)

In [17]:
stats = {}
stats["total"] = 0
stats["depts"] = {}
#stats["type_general"] = {}
#stats["type_specific"] = {}
#stats["public_domain"] = 0
stats["on_exhibit"] = 0
stats["country"] = {}
stats["age"] = {}
stats["taxonomy"] = {}
stats["taxonomy"]["count"] = 0
stats["taxonomy"]["kingdom"] = {}

In [3]:
current_year = datetime.datetime.now().year

In [4]:
valid_countries = []
with open('countries.json','r') as cin: # scraped from topojson data
    valid_countries = json.load(cin)


# Mapping of the following to topojson country names:
# * Typos
# * Other country name formattings (e.g. common vs historical vs formal vs topojson names)
# * Abbreviations
# * Accented letters
# Assumes "Islands" has been replaced with "Is." (since that fixes many topojson nuance cases)
c_map = {
    "England": "United Kingdom",
    "Britain": "United Kingdom",
    "Great Britain": "United Kingdom",
    "United States": "United States of America",
    "US": "United States of America",
    "USA": "United States of America",
    "United Staes": "United States",
    'Antigua and Barbuda': 'Antigua and Barb.',
    'Bolivia (Plurinational State of)': 'Bolivia',
    'Bosnia and Herzegovina': 'Bosnia and Herz.',
    'Brunei Darussalam': 'Brunei',
    'Central African Republic': 'Central African Rep.',
    "Democratic People's Republic of Korea": 'North Korea',
    'Democratic Republic of the Congo': 'Dem. Rep. Congo',
    'Dominican Republic': 'Dominican Rep.',
    'Equatorial Guinea': 'Eq. Guinea',
    'Iran (Islamic Republic of)': 'Iran',
    "Lao People's Democratic Republic": 'Laos',
    'Micronesia (Federated States of)': 'Micronesia',
    'Republic of Korea': 'South Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation': 'Russia',
    'Saint Kitts and Nevis': 'St. Kitts and Nevis',
    'Saint Vincent and the Grenadines': 'St. Vin. and Gren.',
    'Sao Tome and Principe': 'São Tomé and Principe',
    'South Sudan': 'S. Sudan',
    'Swaziland': 'eSwatini',
    'Syrian Arab Republic': 'Syria',
    'The former Yugoslav Republic of Macedonia': 'Macedonia',
    'United Republic of Tanzania': 'Tanzania',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Viet Nam': 'Vietnam',
    "People's Republic of China": "China",
    "Republic of the Congo": "Congo",
    "Burma": "Myanmar",
    "New Guinea": "Papua New Guinea",
    "Colonial America": "United States of America",
    'Micronesia, Federated States of': 'Micronesia',
    "Czech Republic": "Czechia",
    "Colonial America": "United States of America",
    "French Canada": "Canada",
    "U.S. Virgin Islands": "U.S. Virgin Is.",
    "Cape Verde": "Cabo Verde",
    "Curacao": "Curaçao",
    "French Guiana": "Guyana",
    "French Polynesia": "Fr. Polynesia",
    "Northern Mariana Is.": "N. Mariana Is.",
    "México": "Mexico",
    "British Virgin Islands": "British Virgin Is.",
    "Virgin Islands of the United States": "U.S. Virgin Is.",
    "Congo, Democratic Rep. Of": "Dem. Rep. Congo",
    "Burma (Myanmar)": "Myanmar",
    "Federated States of Micronesia": "Micronesia",
    "British Indian Ocean Territory": "Br. Indian Ocean Ter.",
    "Cote d'Ivoire": "Côte d'Ivoire",
    "Congo, Democratic Republic of": "Dem. Rep. Congo",
    "Western Samoa": "Samoa",
    "Belau": "Palau",
    "Belau [Palau]": "Palau",
    "Republic of Palau": "Palau",
    "St. Lucia": "Saint Lucia",
    "Ivory Coast": "Côte d'Ivoire",
    "United States Minor Outlying Is.": "U.S. Minor Outlying Is.",
    "Trinidad": "Trinidad and Tobago",
    "Tobago": "Trinidad and Tobago",
    "Republic of Ireland": "Ireland",
    "Virgin Is. of the United States": "U.S. Virgin Is.",
    "Northwestern Hawaiian Is.": "United States of America",
    "Kingdom of Tonga": "Tonga",
    "Republic of Fiji": "Fiji",
    "Pitcairn Island": "Pitcairn Is.",
    "West Germany": "Germany",
    "Congo (Kinshasa)": "Congo",
    "Main Hawaiian Is.": "United States of America",
    "Holland": "Netherlands",
    "Antigua": "Antigua and Barb.",
    "St. Helena": "Saint Helena",
    "Saint Helena Island": "Saint Helena",
    "Hawaiian Is.": "United States of America",
    "Myanmar [Burma]": "Myanmar",
    "Kazakstan": "Kazakhstan",
    "South Sandwich Is.": "S. Geo. and the Is.",
    "Vanuatu (Republic of)": "Vanuatu",
    "Tahiti": "Fr. Polynesia",
    "Zaire": "Dem. Rep. Congo",
    "Virgin Is. (U.S.)": "U.S. Virgin Is.",
    "Johnston Atoll": "U.S. Minor Outlying Is.",
    "Navassa Island": "U.S. Minor Outlying Is.",
    "Sicily": "Italy",
    "Etruria": "Italy",
}

# Sanitizes country names
# Checks valid topojson names
# Does mappings for many common cases (see c_map above)
# Checks case issues
# Returns "" if cannot sanitize
def sanitize_country(i):
    if i == "":
        return ""
    
    if i in valid_countries:
        return i
    
    # remove entries with uncertainty and multiple origins
    if "?" in i:
        return ""
    if "/" in i:
        return ""
    if " or " in i:
        return ""
    if " and " in i:
        return ""
    if "not certain" in i:
        return ""
    if "Unknown" in i:
        return ""
    if "Not Stated" in i:
        return ""
    if "Not Given" in i:
        return ""
    
    # copy to local var
    c = i
    
    # Remove regions
    c = re.sub(r"^now ","",c)
    c = re.sub(r"^[Tt]he ","",c)
    c = c.replace("Islands","Is.")
    
    c_mapi = {}
    for x in c_map:
        c_mapi[x.lower()] = c_map[x]
    for x in valid_countries:
        c_mapi[x.lower()] = x
        
    if c.lower() in c_mapi:
        return c_mapi[c.lower()]

    # cannot sanitize
    return ""

In [9]:
t_k_map = {
    'Eukaryota unassigned': 'Eukaryota',
    'fungi': 'Fungi',
    'Animalis': 'Animalia',
    'Plantlist': 'Plantae',
    'Planate': 'Plantae',
    'Bacteria': 'Eubacteria',
    'Eukarya': 'Eukaryota',
    'Chromalveolata': 'Chromista',
    'Liliales': 'Plantae',
    'Metazoa': 'Animalia',
    'Polygonales': 'Plantae',
    'Protista': 'Protozoa',
    'Protoctista': 'Protozoa',
    'Rhizaria': 'Protozoa',
}

def sanitize_kingdom(i):
    if i in t_k_map:
        return t_k_map[i]
    else:
        return i

t_p_blacklist = [
    "Incertae sedis",
    "Unknown",
    "Unidentified",
    "Undetermined",
    "Unsorted",
    "unassigned",
    "Indet.",
    " or ",
]

def sanitize_phylum(i):
    for b in t_p_blacklist:
        if b.lower() in i.lower():
            return "Unknown"
    
    return i

In [18]:
# Summarize
with open('data/all_data.ndjson') as infile:
    for line in infile:
        data = ujson.loads(line)
        
        # Get object properties
        unitCode = data['unitCode']
        dataSource = data['content']['descriptiveNonRepeating']['data_source']
        #type_general = data['type']
        #public_domain = False
        #if "online_media_rights" in data['content']['indexedStructured']:
        #    if data['content']['indexedStructured']['online_media_rights'] == 'No Restrictions':
        #        public_domain = True
        on_exhibit = False
        country = ""
        age = ""
        
        # Fix "SI" unit b/c it's not consistent in reported name
        if unitCode == "SI":
            dataSource = "Smithsonian Institution, Digitization Program Office"
        
        # Check b/c not all do -_-
        if 'indexedStructured' in data['content']:
            # Check if on exhibit
            if "onPhysicalExhibit" in data['content']['indexedStructured']:
                if data['content']['indexedStructured']['onPhysicalExhibit'] == "Yes":
                    on_exhibit = True
            # Check if we can get a country; prefer most accurate field (Matt Miller method)
            if 'geoLocation' in data['content']['indexedStructured']:
                for x in data['content']['indexedStructured']['geoLocation']:
                    if 'L2' in x:
                        if isinstance(x['L2'], str):
                            country = sanitize_country(x['L2'])
                        else:
                            country = sanitize_country(x['L2']['content'])
            # Check if we can get an age (most accurate level of detail is decade)
            if "date" in data['content']['indexedStructured']:
                for x in data['content']['indexedStructured']['date']:
                    age_tmp = x.replace("BCE ", "-").replace("s", "")
                    if int(age_tmp) <= current_year: # sanity check for typos
                        age = age_tmp
            # Check for taxonomy data; this is on its own b/c it's across several units and so I'm tracking it as a special case
            if "tax_kingdom" in data['content']['indexedStructured']:
                # Kingdom; assume only one value in list
                kingdom = sanitize_kingdom(data['content']['indexedStructured']["tax_kingdom"][0])
                
                stats["taxonomy"]["count"] += 1
                
                if not kingdom in stats["taxonomy"]["kingdom"]:
                    stats["taxonomy"]["kingdom"][kingdom] = {}
                    stats["taxonomy"]["kingdom"][kingdom]["count"] = 0
                    stats["taxonomy"]["kingdom"][kingdom]["phylum"] = {}
                
                stats["taxonomy"]["kingdom"][kingdom]["count"] += 1
                
                # Phylum; assume only one value in list
                if "tax_phylum" in data['content']['indexedStructured']:
                    phylum = sanitize_phylum(data['content']['indexedStructured']["tax_phylum"][0])

                    if not phylum in stats["taxonomy"]["kingdom"][kingdom]["phylum"]:
                        stats["taxonomy"]["kingdom"][kingdom]["phylum"][phylum] = {}
                        stats["taxonomy"]["kingdom"][kingdom]["phylum"][phylum]["count"] = 0

                    stats["taxonomy"]["kingdom"][kingdom]["phylum"][phylum]["count"] += 1
                else:
                    if not "Unknown" in stats["taxonomy"]["kingdom"][kingdom]["phylum"]:
                        stats["taxonomy"]["kingdom"][kingdom]["phylum"]["Unknown"] = {}
                        stats["taxonomy"]["kingdom"][kingdom]["phylum"]["Unknown"]["count"] = 0

                    stats["taxonomy"]["kingdom"][kingdom]["phylum"]["Unknown"]["count"] += 1
        
        # If department does not exist, create it
        if not unitCode in stats["depts"]:
            stats["depts"][unitCode] = {}
            stats["depts"][unitCode]["count"] = 0
        #    stats["depts"][unitCode]["public_domain"] = 0
        #    stats["depts"][unitCode]["type_general"] = {}
            #stats["depts"][unitCode]["type_specific"] = {}
            stats["depts"][unitCode]["on_exhibit"] = 0
            stats["depts"][unitCode]["country"] = {}
            stats["depts"][unitCode]["age"] = {}
            stats["depts"][unitCode]["name"] = dataSource
            stats["depts"][unitCode]["unit_code"] = unitCode
        
        # If general type does not exist, create it
        #if not type_general in stats["type_general"]:
        #    stats["type_general"][type_general] = {}
        #    stats["type_general"][type_general]["count"] = 0
        #    stats["type_general"][type_general]["depts"] = {}
        #    stats["type_general"][type_general]["public_domain"] = 0
        
        # If specific type does not exist, create it
        # ...
        
        # Create cross-references one level deep
        #if not type_general in stats["depts"][dataSource]["type_general"]:
        #    stats["depts"][dataSource]["type_general"][type_general] = 0
        #if not dataSource in stats["type_general"][type_general]["depts"]:
        #    stats["type_general"][type_general]["depts"][dataSource] = 0
        
        # Add stats for this object
        stats["total"] += 1
        stats["depts"][unitCode]["count"] += 1
        #stats["depts"][dataSource]["type_general"][type_general] += 1
        #stats["type_general"][type_general]["count"] += 1
        #stats["type_general"][type_general]["depts"][dataSource] += 1
        #if public_domain:
        #    stats["public_domain"] += 1
        #    stats["depts"][dataSource]["public_domain"] += 1
        #    stats["type_general"][type_general]["public_domain"] += 1
        if on_exhibit:
            stats["on_exhibit"] += 1
            stats["depts"][unitCode]["on_exhibit"] += 1
        if country != "":
            if not country in stats["country"]:
                stats["country"][country] = 0
            if not country in stats["depts"][unitCode]["country"]:
                stats["depts"][unitCode]["country"][country] = 0
            stats["country"][country] += 1
            stats["depts"][unitCode]["country"][country] += 1
        if age != "":
            if not age in stats["age"]:
                stats["age"][age] = 0
            if not age in stats["depts"][unitCode]["age"]:
                stats["depts"][unitCode]["age"][age] = 0
            stats["age"][age] += 1
            stats["depts"][unitCode]["age"][age] += 1

print("Done")

Done

In [20]:
stats

{'total': 11361355,
 'depts': {'FBR': {'count': 1517,
   'on_exhibit': 0,
   'country': {},
   'age': {'1950': 179,
    '1900': 165,
    '1890': 175,
    '1970': 49,
    '1910': 166,
    '1960': 222,
    '1930': 106,
    '1880': 156,
    '1940': 85,
    '1850': 10,
    '1920': 61,
    '1870': 85,
    '1830': 4,
    '1980': 13,
    '1860': 26,
    '1820': 1,
    '1810': 1,
    '1840': 12,
    '1990': 1},
   'name': 'Smithsonian Field Book Project',
   'unit_code': 'FBR'},
  'HSFA': {'count': 129,
   'on_exhibit': 0,
   'country': {'Vanuatu': 42,
    'United States of America': 55,
    'Canada': 29,
    'El Salvador': 1,
    'Denmark': 1},
   'age': {'1970': 91, '1960': 27, '1950': 5, '1980': 3, '1940': 1, '1930': 1},
   'name': 'Human Studies Film Archives',
   'unit_code': 'HSFA'},
  'NMNHPALEO': {'count': 669515,
   'on_exhibit': 0,
   'country': {'United States of America': 393099,
    'Dominican Rep.': 6164,
    'Venezuela': 1808,
    'United Kingdom': 2038,
    'Israel': 285,
    'Canada': 38894,
    'Antarctica': 3382,
    'France': 3463,
    'Germany': 1905,
    'Australia': 1058,
    'Italy': 923,
    'Haiti': 351,
    'China': 2025,
    'Colombia': 168,
    'Antigua and Barb.': 115,
    'Montserrat': 185,
    'Tunisia': 616,
    'Cuba': 1591,
    'Pakistan': 506,
    'Czechia': 139,
    'Saint Helena': 938,
    'Jamaica': 897,
    'Sweden': 873,
    'Algeria': 129,
    'Barbados': 348,
    'Costa Rica': 131,
    'Belgium': 430,
    'Guatemala': 250,
    'Peru': 696,
    'Poland': 321,
    'Marshall Is.': 935,
    'Mexico': 2560,
    'Kenya': 2447,
    'South Africa': 732,
    'Morocco': 229,
    'Indonesia': 558,
    'Iran': 155,
    'Pitcairn Is.': 2715,
    'Bermuda': 1793,
    'Estonia': 136,
    'Greece': 305,
    'Bolivia': 819,
    'Brazil': 925,
    'Bahamas': 791,
    'Nigeria': 329,
    'Saudi Arabia': 1813,
    'Japan': 905,
    'Puerto Rico': 1923,
    'Malaysia': 74,
    'New Zealand': 937,
    'Turkey': 239,
    'Fiji': 569,
    'Grenada': 14,
    'Greenland': 396,
    'Ecuador': 115,
    'Thailand': 1411,
    'Chile': 375,
    'Uzbekistan': 874,
    'Panama': 670,
    'Norway': 172,
    'Netherlands': 228,
    'Russia': 371,
    'Samoa': 250,
    'India': 273,
    'Argentina': 440,
    'Switzerland': 299,
    'Trinidad and Tobago': 582,
    'Somalia': 90,
    'Ireland': 124,
    'Tonga': 270,
    'Libya': 236,
    'Senegal': 23,
    'Belize': 67,
    'Mozambique': 55,
    'Spain': 397,
    'Austria': 374,
    'Egypt': 569,
    'Syria': 57,
    'Angola': 155,
    'Denmark': 130,
    'Zimbabwe': 168,
    'South Korea': 19,
    'Madagascar': 91,
    'Mauritius': 36,
    'Myanmar': 61,
    'Gabon': 17,
    'Philippines': 169,
    'Lebanon': 95,
    'Tanzania': 42,
    'Slovakia': 25,
    'Ghana': 7,
    'Palau': 59,
    'El Salvador': 38,
    'Papua New Guinea': 27,
    'Honduras': 32,
    'Kiribati': 2,
    'New Caledonia': 4,
    'Mongolia': 16,
    'Malta': 44,
    'Lesotho': 14,
    'Iraq': 9,
    'Hungary': 31,
    'Iceland': 28,
    'Niger': 4,
    'Anguilla': 17,
    'Taiwan': 19,
    'Ethiopia': 8,
    'Qatar': 21,
    'Ukraine': 24,
    'Romania': 23,
    'Uruguay': 5,
    'Sri Lanka': 7,
    'Falkland Is.': 2,
    'Solomon Is.': 24,
    'Guyana': 1,
    'Lithuania': 4,
    'Nicaragua': 11,
    'Jordan': 8,
    'Palestine': 3,
    'Dem. Rep. Congo': 3,
    'Cayman Is.': 14,
    'Fr. Polynesia': 1,
    'Curaçao': 4,
    'Cyprus': 12,
    'Guinea': 1,
    'Singapore': 7,
    'Namibia': 3,
    'Portugal': 10,
    'Bahrain': 2,
    'Cameroon': 14,
    'San Marino': 1,
    'Kazakhstan': 6,
    'Finland': 5,
    'Sudan': 1,
    'Tuvalu': 2,
    'United Arab Emirates': 1,
    'Liberia': 3,
    'Oman': 1,
    'North Korea': 1,
    'Paraguay': 1,
    'Gambia': 2,
    'Vietnam': 1},
   'age': {'1960': 31056,
    '1940': 14031,
    '1920': 8154,
    '1880': 5101,
    '1910': 15452,
    '1930': 13380,
    '1900': 8099,
    '1980': 43264,
    '1970': 48039,
    '1990': 38747,
    '1950': 14698,
    '1890': 4501,
    '1870': 1420,
    '2010': 218,
    '2000': 5312,
    '1860': 261,
    '1850': 197,
    '1840': 103,
    '1820': 10,
    '1000': 2,
    '2020': 1,
    '1810': 2,
    '1830': 4,
    '1800': 1,
    '1740': 1},
   'name': 'NMNH - Paleobiology Dept.',
   'unit_code': 'NMNHPALEO'},
  'NMNHHERPS': {'count': 581292,
   'on_exhibit': 0,
   'country': {'Haiti': 3658,
    'United States of America': 343296,
    'Mexico': 22801,
    'Trinidad and Tobago': 1975,
    'Palau': 4534,
    'British Virgin Is.': 1945,
    'Honduras': 10646,
    'Gabon': 1299,
    'Panama': 7634,
    'Congo': 2139,
    'Guyana': 2520,
    'Chile': 278,
    'Portugal': 95,
    'Brazil': 14736,
    'Cuba': 5191,
    'Costa Rica': 3888,
    'Montserrat': 1207,
    'Saint Lucia': 371,
    'Belize': 790,
    'Seychelles': 278,
    'Philippines': 11353,
    'Colombia': 5312,
    'Taiwan': 1463,
    'Bolivia': 2751,
    'Papua New Guinea': 4271,
    'Solomon Is.': 1550,
    'China': 4903,
    'Jamaica': 7255,
    'Dominican Rep.': 5138,
    'Fiji': 1842,
    'Bahamas': 1508,
    'Cayman Is.': 505,
    'Micronesia': 1849,
    'Vanuatu': 714,
    'Peru': 12864,
    'Ecuador': 16248,
    'Myanmar': 2905,
    'Cameroon': 877,
    'Spain': 459,
    'Madagascar': 1512,
    'Sri Lanka': 2358,
    'Ethiopia': 195,
    'Algeria': 96,
    'Paraguay': 2733,
    'Suriname': 427,
    'St. Kitts and Nevis': 406,
    'Tonga': 1123,
    'Switzerland': 28,
    'Austria': 104,
    'Canada': 1156,
    'Italy': 384,
    'Kenya': 2741,
    'Kazakhstan': 23,
    'India': 449,
    'Uruguay': 487,
    'Guatemala': 1714,
    'Nicaragua': 872,
    'Dem. Rep. Congo': 676,
    'Argentina': 820,
    'Thailand': 5356,
    'Venezuela': 3095,
    'Botswana': 933,
    'Grenada': 289,
    'Vietnam': 956,
    'Afghanistan': 130,
    'Cook Is.': 394,
    'Saudi Arabia': 494,
    'Indonesia': 3269,
    'Egypt': 2890,
    'Sierra Leone': 95,
    'New Caledonia': 127,
    'France': 347,
    'Tanzania': 866,
    'Ghana': 284,
    'Barbados': 97,
    'Senegal': 482,
    'Iran': 1024,
    'Gambia': 197,
    'Bhutan': 2,
    'Togo': 106,
    'Dominica': 1732,
    'Nepal': 267,
    'Australia': 1472,
    'American Samoa': 1236,
    'Anguilla': 108,
    'Namibia': 237,
    'Malawi': 748,
    'Mozambique': 93,
    'Mauritius': 151,
    'Japan': 2135,
    'Djibouti': 858,
    'Sudan': 142,
    'Malaysia': 723,
    'Germany': 257,
    'Eq. Guinea': 332,
    'Mali': 22,
    'Turkey': 131,
    'Morocco': 492,
    'Nigeria': 101,
    'United Kingdom': 186,
    'Pakistan': 205,
    'Poland': 10,
    'Maldives': 35,
    'New Zealand': 59,
    'Singapore': 40,
    'Liberia': 904,
    'Timor-Leste': 1,
    'Zimbabwe': 85,
    'South Africa': 628,
    'Tunisia': 214,
    'Greece': 135,
    'Uganda': 131,
    'Libya': 44,
    'Zambia': 60,
    'Kiribati': 66,
    'Angola': 99,
    'Bermuda': 110,
    'Netherlands': 97,
    'Aruba': 29,
    'Syria': 47,
    'Mauritania': 44,
    'Cyprus': 47,
    'Benin': 163,
    'Romania': 75,
    'Bulgaria': 62,
    'El Salvador': 112,
    'Georgia': 24,
    'Chad': 15,
    "Côte d'Ivoire": 64,
    'Laos': 169,
    'Ukraine': 37,
    'Croatia': 31,
    'Lesotho': 52,
    'Russia': 13,
    'Bangladesh': 17,
    'Hungary': 22,
    'Turkmenistan': 13,
    'Israel': 20,
    'Cambodia': 22,
    'U.S. Minor Outlying Is.': 17,
    'Rwanda': 7,
    'Somalia': 15,
    'Armenia': 18,
    'Sweden': 22,
    'Burundi': 4,
    'Montenegro': 2,
    'Denmark': 4,
    'Kyrgyzstan': 1,
    'Iraq': 10,
    'Lebanon': 18,
    'Belgium': 1,
    'Oman': 1,
    'Brunei': 7,
    'Czechia': 1,
    'Kuwait': 6,
    'Uzbekistan': 2,
    'Guinea': 1,
    'Cabo Verde': 1,
    'Bahrain': 3,
    'Jordan': 4,
    'Norway': 4,
    'Eritrea': 2,
    'eSwatini': 1},
   'age': {'1980': 80992,
    '1970': 123372,
    '1990': 45706,
    '2000': 13003,
    '1890': 11303,
    '1950': 34682,
    '1900': 13097,
    '1930': 32020,
    '1960': 117182,
    '1940': 17571,
    '1910': 9242,
    '1920': 15068,
    '2010': 7240,
    '1850': 621,
    '1870': 2295,
    '1860': 905,
    '1880': 4442,
    '1840': 36,
    '1820': 1,
    '1830': 8,
    '1810': 1},
   'name': 'NMNH - Vertebrate Zoology - Herpetology Division',
   'unit_code': 'NMNHHERPS'},
  'SI': {'count': 10,
   'on_exhibit': 0,
   'country': {},
   'age': {},
   'name': 'Smithsonian Institution, Digitization Program Office',
   'unit_code': 'SI'},
  'NAA': {'count': 16,
   'on_exhibit': 0,
   'country': {'Italy': 1,
    'United States of America': 3,
    'Venezuela': 1,
    'Pakistan': 1},
   'age': {'1970': 5, '1870': 2, '1880': 5, '1890': 3, '1950': 1},
   'name': 'National Anthropological Archives',
   'unit_code': 'NAA'},
  'SAAM': {'count': 12547,
   'on_exhibit': 0,
   'country': {'United States of America': 991,
    'Italy': 246,
    'Egypt': 57,
    'Switzerland': 49,
    'France': 215,
    'United Kingdom': 103,
    'Mexico': 29,
    'Canada': 19,
    'Guatemala': 42,
    'Peru': 2,
    'Ecuador': 1,
    'Panama': 27,
    'Netherlands': 14,
    'Costa Rica': 1,
    'El Salvador': 3,
    'Honduras': 1,
    'Brazil': 1,
    'Norway': 1},
   'age': {'1870': 1026,
    '1890': 1211,
    '1830': 662,
    '1860': 844,
    '1920': 587,
    '1880': 802,
    '1850': 670,
    '1840': 565,
    '1910': 839,
    '1900': 997,
    '1820': 156,
    '1980': 62,
    '1930': 435,
    '1790': 140,
    '1300': 29,
    '1800': 69,
    '1600': 127,
    '1750': 136,
    '1760': 58,
    '1950': 16,
    '1940': 22,
    '1770': 48,
    '1780': 37,
    '1720': 36,
    '1740': 20,
    '1400': 35,
    '1970': 43,
    '1810': 69,
    '1990': 40,
    '1700': 89,
    '1640': 1,
    '1690': 24,
    '1550': 13,
    '1680': 9,
    '1960': 43,
    '1570': 13,
    '1660': 10,
    '1560': 3,
    '1620': 12,
    '1000': 3,
    '1590': 21,
    '1200': 27,
    '1670': 7,
    '1730': 12,
    '1630': 3,
    '1610': 2,
    '1650': 9,
    '1500': 10,
    '1580': 2,
    '1710': 1,
    '1520': 1,
    '1100': 1,
    '2010': 1},
   'name': 'Smithsonian American Art Museum',
   'unit_code': 'SAAM'},
  'ACAH': {'count': 13,
   'on_exhibit': 0,
   'country': {'United States of America': 3},
   'age': {'1950': 4, '1930': 2, '1970': 2, '1940': 1, '1960': 1},
   'name': 'Archives Center, National Museum of American History',
   'unit_code': 'ACAH'},
  'FSA': {'count': 29,
   'on_exhibit': 0,
   'country': {'United States of America': 3,
    'Cambodia': 1,
    'Iran': 3,
    'United Kingdom': 3,
    'Egypt': 2,
    'China': 3,
    'Iraq': 1,
    'Sri Lanka': 1,
    'France': 1,
    'India': 2,
    'Pakistan': 1,
    'Lebanon': 1,
    'Indonesia': 1,
    'Japan': 1,
    'North Korea': 1},
   'age': {'1920': 1,
    '1900': 6,
    '1980': 1,
    '1930': 1,
    '1870': 10,
    '1890': 2,
    '1910': 4,
    '1880': 2},
   'name': 'Freer Gallery of Art and Arthur M. Sackler Gallery Archives',
   'unit_code': 'FSA'},
  'SIA': {'count': 29416,
   'on_exhibit': 0,
   'country': {'Chile': 50,
    'United States of America': 1333,
    'Peru': 9,
    'Panama': 5180,
    'Tanzania': 22,
    'China': 269,
    'Belize': 8,
    'Japan': 47,
    'Canada': 87,
    'El Salvador': 33,
    'Seychelles': 6,
    'Russia': 16,
    'North Korea': 9,
    'France': 9,
    'India': 3,
    'Malaysia': 4,
    'Mexico': 23,
    'Spain': 6,
    'Cyprus': 1,
    'New Zealand': 8,
    'Marshall Is.': 8,
    'Hungary': 2,
    'Germany': 7,
    'Syria': 4,
    'Ecuador': 39,
    'Cuba': 5,
    'Australia': 5,
    'Israel': 1,
    'Yemen': 3,
    'Congo': 1,
    'Egypt': 6,
    'Denmark': 4,
    'United Kingdom': 17,
    'Sweden': 4,
    'Belgium': 1,
    'Colombia': 6,
    'Nicaragua': 3,
    'Sri Lanka': 2,
    'Kiribati': 3,
    'Tunisia': 3,
    'Guyana': 5,
    'Turkey': 2,
    'Brazil': 7,
    'Guatemala': 5,
    'Haiti': 5,
    'Nepal': 4,
    'Bolivia': 1,
    'Philippines': 3,
    'Italy': 1,
    'Paraguay': 1,
    'Vietnam': 1,
    'Cameroon': 2,
    'Indonesia': 3,
    'Madagascar': 3,
    'Saudi Arabia': 3,
    'Greece': 2,
    'Venezuela': 4,
    'Dominica': 2,
    'Bahamas': 2,
    'Pakistan': 3,
    'Honduras': 2,
    'Grenada': 1,
    'Dominican Rep.': 3,
    'Netherlands': 2,
    'Austria': 1,
    'South Africa': 1,
    'Thailand': 1,
    'Togo': 1,
    'Argentina': 2,
    'Senegal': 1,
    'Armenia': 1,
    'Monaco': 1,
    'Taiwan': 1,
    'Costa Rica': 2,
    'Mongolia': 1,
    'Kenya': 1,
    'Poland': 1,
    'Jamaica': 2,
    'Ireland': 1,
    'Gabon': 1,
    'Slovakia': 1,
    'Angola': 1,
    'Dem. Rep. Congo': 1,
    'Palau': 1,
    'Myanmar': 1,
    'Ghana': 1,
    'Iran': 1,
    'Uganda': 1,
    'Czechia': 1},
   'age': {'1880': 1183,
    '1890': 579,
    '1980': 5352,
    '1960': 1912,
    '1910': 1035,
    '1950': 835,
    '1970': 7402,
    '1990': 2578,
    '2010': 911,
    '2000': 709,
    '1930': 544,
    '1920': 576,
    '1860': 68,
    '1870': 352,
    '1900': 528,
    '1840': 26,
    '1940': 225,
    '1820': 110,
    '1810': 19,
    '1830': 23,
    '1850': 16,
    '1790': 1,
    '1000': 1,
    '1660': 2,
    '-0': 1,
    '1760': 1,
    '1780': 3,
    '1300': 1,
    '1800': 1},
   'name': 'Smithsonian Institution Archives',
   'unit_code': 'SIA'},
  'NMAH': {'count': 1293194,
   'on_exhibit': 0,
   'country': {'United States of America': 684,
    'Canada': 37,
    'United Kingdom': 104,
    'Italy': 54,
    'Switzerland': 59,
    'France': 59,
    'Mexico': 32,
    'Norway': 5,
    'El Salvador': 39,
    'Netherlands': 17,
    'Australia': 4,
    'Panama': 1},
   'age': {'1960': 32035,
    '300': 1783,
    '1900': 53794,
    '1890': 21078,
    '1980': 15836,
    '1970': 32663,
    '1950': 31954,
    '1940': 35299,
    '1930': 27304,
    '1800': 8949,
    '1860': 21195,
    '1880': 22341,
    '2000': 9475,
    '1000': 1238,
    '1100': 1016,
    '1640': 502,
    '1720': 1975,
    '1740': 1414,
    '1850': 10597,
    '1990': 9609,
    '2010': 3588,
    '1920': 29737,
    '1790': 3808,
    '1780': 2873,
    '1750': 1700,
    '-0': 2047,
    '1840': 7660,
    '1870': 18402,
    '1910': 32238,
    '1830': 6820,
    '1680': 472,
    '1650': 444,
    '1820': 4083,
    '900': 348,
    '1620': 434,
    '100': 1670,
    '200': 2615,
    '1810': 4393,
    '1630': 353,
    '1200': 1146,
    '400': 694,
    '1730': 1298,
    '1400': 2188,
    '1770': 2524,
    '1300': 963,
    '1660': 562,
    '800': 348,
    '700': 2282,
    '1510': 129,
    '600': 409,
    '1670': 324,
    '1700': 1931,
    '1710': 1553,
    '1690': 554,
    '1530': 87,
    '500': 283,
    '1760': 2090,
    '1540': 101,
    '1500': 236,
    '1520': 229,
    '1560': 133,
    '1580': 124,
    '1570': 201,
    '1600': 238,
    '1590': 144,
    '1550': 156,
    '-2000': 17,
    '1610': 313,
    '-1000': 26},
   'name': 'National Museum of American History',
   'unit_code': 'NMAH'},
  'CHNDM': {'count': 40196,
   'on_exhibit': 0,
   'country': {'France': 8781,
    'United Kingdom': 2712,
    'United States of America': 9998,
    'Netherlands': 2450,
    'Spain': 844,
    'Belgium': 486,
    'Italy': 6116,
    'Germany': 1564,
    'Japan': 669,
    'Portugal': 35,
    'Switzerland': 162,
    'Austria': 218,
    'India': 331,
    'Ireland': 118,
    'Egypt': 279,
    'China': 421,
    'Mexico': 174,
    'Denmark': 27,
    'Canada': 64,
    'Colombia': 79,
    'Hungary': 5,
    'Indonesia': 65,
    'Greece': 95,
    'Sudan': 1,
    'Russia': 100,
    'Syria': 20,
    'South Africa': 5,
    'Philippines': 40,
    'Peru': 157,
    'Turkey': 87,
    'Jordan': 7,
    'Morocco': 22,
    'Sweden': 42,
    'Iran': 106,
    'Ecuador': 78,
    'Haiti': 19,
    'Dem. Rep. Congo': 11,
    'Jamaica': 69,
    'Norway': 6,
    'Palestine': 3,
    'Malta': 2,
    'Romania': 6,
    'Poland': 6,
    'Israel': 8,
    'Armenia': 3,
    'Slovakia': 1,
    'Bolivia': 6,
    'Croatia': 1,
    'Turkmenistan': 1,
    'Tunisia': 1,
    'Panama': 3,
    'Guernsey': 1,
    'Cuba': 4,
    'Afghanistan': 4,
    'Lebanon': 6,
    'Suriname': 1,
    'Estonia': 1,
    'Bahamas': 1,
    'Mali': 1,
    'Guyana': 1,
    'Iraq': 3,
    'Myanmar': 3,
    'Costa Rica': 2,
    'Ghana': 1,
    'Albania': 2,
    'Puerto Rico': 1,
    'Algeria': 3,
    'Saudi Arabia': 1,
    'Paraguay': 3,
    'Thailand': 2,
    'Czechia': 1,
    'United States': 1,
    'Macedonia': 1,
    'Argentina': 1,
    'Finland': 1,
    'Uzbekistan': 1,
    'Samoa': 2,
    'Fiji': 1,
    'Yemen': 1},
   'age': {'1810': 961,
    '1670': 415,
    '1830': 1088,
    '1740': 695,
    '1870': 3733,
    '1890': 2272,
    '1880': 1574,
    '1820': 1792,
    '1900': 4842,
    '1790': 1840,
    '1730': 1966,
    '1700': 1445,
    '1770': 1499,
    '1840': 922,
    '1600': 1739,
    '1860': 1871,
    '1850': 2136,
    '1660': 307,
    '1750': 1751,
    '1560': 117,
    '1780': 923,
    '1760': 1233,
    '1910': 367,
    '1650': 195,
    '1400': 229,
    '1620': 292,
    '1690': 450,
    '1570': 313,
    '1000': 68,
    '1920': 92,
    '1500': 282,
    '1720': 477,
    '1640': 174,
    '1680': 195,
    '1800': 366,
    '1580': 123,
    '1590': 82,
    '1550': 113,
    '1630': 178,
    '1300': 216,
    '1540': 76,
    '1100': 19,
    '1200': 90,
    '1530': 45,
    '1520': 69,
    '1510': 87,
    '1710': 75,
    '1610': 48,
    '1990': 1,
    '1930': 2},
   'name': 'Cooper Hewitt, Smithsonian Design Museum',
   'unit_code': 'CHNDM'},
  'NPG': {'count': 8358,
   'on_exhibit': 0,
   'country': {'United Kingdom': 60,
    'United States of America': 4486,
    'Chile': 5,
    'Belize': 1,
    'France': 25,
    'Netherlands': 1,
    'Nicaragua': 1},
   'age': {'1860': 692,
    '1850': 290,
    '1800': 86,
    '1910': 138,
    '1840': 311,
    '1890': 236,
    '1870': 5374,
    '1880': 105,
    '1900': 183,
    '1820': 96,
    '1810': 103,
    '1750': 7,
    '1830': 162,
    '1780': 108,
    '1770': 30,
    '1920': 54,
    '1720': 5,
    '1790': 164,
    '1930': 54,
    '1760': 13,
    '1590': 3,
    '1740': 8,
    '1710': 9,
    '1650': 1,
    '1950': 4,
    '1960': 6,
    '1970': 4,
    '1730': 1,
    '1670': 1,
    '1580': 1,
    '1700': 1,
    '1610': 2,
    '1940': 1,
    '1660': 1},
   'name': 'National Portrait Gallery',
   'unit_code': 'NPG'},
  'ACM': {'count': 249,
   'on_exhibit': 0,
   'country': {},
   'age': {'2000': 21,
    '1950': 16,
    '1990': 25,
    '1960': 2,
    '2010': 4,
    '1980': 18,
    '1930': 2,
    '1900': 2,
    '1970': 3,
    '1940': 1,
    '1850': 1,
    '1840': 1},
   'name': 'Anacostia Community Museum',
   'unit_code': 'ACM'},
  'NMNHANTHRO': {'count': 479775,
   'on_exhibit': 0,
   'country': {'United States of America': 315192,
    'Senegal': 1549,
    'Germany': 150,
    'Iraq': 3917,
    'Guatemala': 970,
    'Brazil': 3499,
    'Mexico': 15456,
    'Iran': 1776,
    'Syria': 1238,
    'Panama': 8184,
    'Ecuador': 7732,
    'Turkey': 1733,
    'Denmark': 322,
    'Thailand': 1648,
    'Indonesia': 6002,
    'Japan': 8096,
    'Philippines': 6300,
    'Ghana': 692,
    'Nigeria': 1187,
    "Côte d'Ivoire": 256,
    'Afghanistan': 107,
    'Guinea-Bissau': 32,
    'Liberia': 1016,
    'Dem. Rep. Congo': 2473,
    'South Korea': 604,
    'India': 3089,
    'South Africa': 529,
    'Kenya': 745,
    'Tunisia': 74,
    'Egypt': 1775,
    'Nepal': 430,
    'Papua New Guinea': 1439,
    'Tanzania': 274,
    'Vanuatu': 140,
    'Bolivia': 407,
    'Guyana': 1542,
    'Peru': 4615,
    'Canada': 4330,
    'Tonga': 135,
    'Chile': 703,
    'Micronesia': 924,
    'China': 5309,
    'Marshall Is.': 228,
    'Togo': 160,
    'France': 3163,
    'Argentina': 855,
    'Russia': 495,
    'Suriname': 233,
    'Belgium': 253,
    'Lebanon': 94,
    'Italy': 1807,
    'United Kingdom': 827,
    'Dominican Rep.': 1004,
    'Barbados': 152,
    'Myanmar': 1225,
    'Colombia': 917,
    'Switzerland': 1369,
    'Angola': 403,
    'Australia': 1040,
    'Nicaragua': 1295,
    'Greenland': 1099,
    'Fiji': 1049,
    'Kiribati': 244,
    'Israel': 147,
    'Sudan': 230,
    'Bangladesh': 209,
    'Mali': 277,
    'Pakistan': 2503,
    'Burundi': 136,
    'Sri Lanka': 1063,
    'Libya': 120,

In [19]:
# Write stats to file
with open('docs/stats.json','w') as out:
    out.write(json.dumps(stats))
    #out.write(json.dumps(stats, indent=4)) # Pretty print